{% extends "admin/import_export/change_list_import_export.html" %}
{% load i18n admin_urls static admin_list l10n %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Category', 'Money spent'],
          {% for category, amount in cl.categories %}
          ['{{ category }}', {{ amount|unlocalize }}],
          {% endfor %}
        ]);

        var options = {
          title: 'Categories'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}

{#% block search %#}
{% block pagination %}
{{ block.super }}

<div id="piechart" style="min-height: 500px;"></div>

<div class="xfull">
  <h2>Summary</h2>
  <table border="0" cellspacing="5" cellpadding="5">
    <thead>
    <tr>
      <th scope="col">
        <div class="text">
          <span>
            {% trans "Transaction summary" %}
          </span>
        </div>
      </th>
      <th scope="col">
        <div class="text">
          <span>
            {% trans "Transfer" %}
          </span>
        </div>
      </th>
      <th scope="col">
        <div class="text">
          <span>
            {% trans "Withdrawal" %}
          </span>
        </div>
      </th>
      <th scope="col">
        <div class="text">
          <span>
            {% trans "Deposit" %}
          </span>
        </div>
      </th>
      <th scope="col">
        <div class="text">
          <span>
            {% trans "Total" %}
          </span>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    {% for row in cl.summary %}
    <tr class={% cycle "row1" "row2" %}>
        <td>{{ row.name }}</td>
        <td>{{ row.transfer }}</td>
        <td>{{ row.withdrawal }}</td>
        <td>{{ row.deposit }}</td>
        <td>{{ row.total }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p></p>
</div>
{% endblock %}
