{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block search %}
<div class="xfull">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <th>Summary</th>
      <th>Transfer</th>
      <th>Withdrawal</th>
      <th>Deposit</th>
      <th>Net</th>
    </tr>
    {% for row in cl.summary %}
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.transfer }}</td>
        <td>{{ row.withdrawal }}</td>
        <td>{{ row.deposit }}</td>
        <td>{{ row.total }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{{ block.super }}
{% endblock %}
